<!-- authuser/templates/authuser/home.html -->
{% extends "authuser/base.html" %}

{% load static %}

{% block title %}{% endblock title %}

{% block extra_head  %}{% endblock extra_head  %}

{% block content %}
<!-- Start Banner Area -->
<div class="rbt-banner-area rbt-banner-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 pb--120 pt--70">
                <div class="content">
                    <div class="inner">
                        <div class="rbt-new-badge rbt-new-badge-one">
                            <span class="rbt-new-badge-icon">🏆</span> The Leader in Online Learning
                        </div>

                        <h1 class="title">
                            Build The Skills <br> To Drive Your Career.
                        </h1>
                        <p class="description">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                            <strong>Velit
                                officia consequat.</strong>
                        </p>
                        <div class="slider-btn">
                            <a class="rbt-btn btn-gradient hover-icon-reverse" href="#">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">View Course</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="shape-wrapper" id="scene">
                        <img src="{% static 'assets/images/banner/banner-01.png' %}" alt="Hero Image">
                        <div class="hero-bg-shape-1 layer" data-depth="0.4">
                            <img src="{% static 'assets/images/shape/shape-01.png' %}" alt="Hero Image Background Shape">
                        </div>
                        <div class="hero-bg-shape-2 layer" data-depth="0.4">
                            <img src="{% static 'assets/images/shape/shape-02.png' %}" alt="Hero Image Background Shape">
                        </div>
                    </div>

                    <div class="banner-card pb--60 mb--50 swiper rbt-dot-bottom-center banner-swiper-active">
                        <div class="swiper-wrapper">

                            <!-- Start Single Card  -->
                            <div class="swiper-slide">
                                <div class="rbt-card variation-01 rbt-hover">
                                    <div class="rbt-card-img">
                                        <a href="course-details.html">
                                            <img src="{% static 'assets/images/course/course-01.jpg' %}" alt="Card image">
                                            <div class="rbt-badge-3 bg-white">
                                                <span>-40%</span>
                                                <span>Off</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <ul class="rbt-meta">
                                            <li><i class="feather-book"></i>12 Lessons</li>
                                            <li><i class="feather-users"></i>50 Students</li>
                                        </ul>
                                        <h4 class="rbt-card-title"><a href="course-details.html">React</a>
                                        </h4>
                                        <p class="rbt-card-text">It is a long established fact that a reader
                                            will be distracted.</p>
                                        <div class="rbt-review">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <span class="rating-count"> (15 Reviews)</span>
                                        </div>
                                        <div class="rbt-card-bottom">
                                            <div class="rbt-price">
                                                <span class="current-price">$70</span>
                                                <span class="off-price">$120</span>
                                            </div>
                                            <a class="rbt-btn-link" href="course-details.html">Learn More<i
                                                    class="feather-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Card  -->

                            <!-- Start Single Card  -->
                            <div class="swiper-slide">
                                <div class="rbt-card variation-01 rbt-hover">
                                    <div class="rbt-card-img">
                                        <a href="course-details.html">
                                            <img src="{% static 'assets/images/course/classic-lms-01.jpg' %}" alt="Card image">
                                            <div class="rbt-badge-3 bg-white">
                                                <span>-40%</span>
                                                <span>Off</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <ul class="rbt-meta">
                                            <li><i class="feather-book"></i>12 Lessons</li>
                                            <li><i class="feather-users"></i>50 Students</li>
                                        </ul>
                                        <h4 class="rbt-card-title"><a href="course-details.html">React</a>
                                        </h4>
                                        <p class="rbt-card-text">It is a long established fact that a reader
                                            will be distracted.</p>
                                        <div class="rbt-review">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <span class="rating-count"> (15 Reviews)</span>
                                        </div>
                                        <div class="rbt-card-bottom">
                                            <div class="rbt-price">
                                                <span class="current-price">$70</span>
                                                <span class="off-price">$120</span>
                                            </div>
                                            <a class="rbt-btn-link" href="course-details.html">Learn More<i
                                                    class="feather-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Card  -->

                            <!-- Start Single Card  -->
                            <div class="swiper-slide">
                                <div class="rbt-card variation-01 rbt-hover">
                                    <div class="rbt-card-img">
                                        <a href="course-details.html">
                                            <img src="{% static 'assets/images/course/course-online-02.jpg' %}" alt="Card image">
                                            <div class="rbt-badge-3 bg-white">
                                                <span>-40%</span>
                                                <span>Off</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <ul class="rbt-meta">
                                            <li><i class="feather-book"></i>12 Lessons</li>
                                            <li><i class="feather-users"></i>50 Students</li>
                                        </ul>
                                        <h4 class="rbt-card-title"><a href="course-details.html">React</a>
                                        </h4>
                                        <p class="rbt-card-text">It is a long established fact that a reader
                                            will be distracted.</p>
                                        <div class="rbt-review">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <span class="rating-count"> (15 Reviews)</span>
                                        </div>
                                        <div class="rbt-card-bottom">
                                            <div class="rbt-price">
                                                <span class="current-price">$70</span>
                                                <span class="off-price">$120</span>
                                            </div>
                                            <a class="rbt-btn-link" href="course-details.html">Learn More<i
                                                    class="feather-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Card  -->

                        </div>
                        <div class="rbt-swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Area -->

<div class="rbt-categories-area bg-color-white rbt-section-gapBottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <span class="subtitle bg-primary-opacity">CATEGORIES</span>
                    <h2 class="title">Explore Top Courses Caterories <br /> That Change Yourself</h2>
                </div>
            </div>
        </div>
        <div class="row g-5 mt--20">
            <!-- Start Category Box Layout  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/category/web-design.png' %}" alt="Icons Images">
                        </div>
                        <div class="content">
                            <h5 class="title">Web Design</h5>
                            <div class="read-more-btn">
                                <span class="rbt-btn-link">25 Courses<i class="feather-arrow-right"></i></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Category Box Layout  -->

            <!-- Start Category Box Layout  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/category/design.png' %}" alt="Icons Images">
                        </div>
                        <div class="content">
                            <h5 class="title">Graphic Design</h5>
                            <div class="read-more-btn">
                                <span class="rbt-btn-link">30 Courses<i class="feather-arrow-right"></i></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Category Box Layout  -->

            <!-- Start Category Box Layout  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/category/personal.png' %}" alt="Icons Images">
                        </div>
                        <div class="content">
                            <h5 class="title">Personal Development</h5>
                            <div class="read-more-btn">
                                <span class="rbt-btn-link">20 Courses<i class="feather-arrow-right"></i></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Category Box Layout  -->

            <!-- Start Category Box Layout  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/category/server.png' %}" alt="Icons Images">
                        </div>
                        <div class="content">
                            <h5 class="title">IT and Software</h5>
                            <div class="read-more-btn">
                                <span class="rbt-btn-link">15 Courses<i class="feather-arrow-right"></i></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Category Box Layout  -->

            <!-- Start Category Box Layout  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/category/pantone.png' %}" alt="Icons Images">
                        </div>
                        <div class="content">
                            <h5 class="title">Sales Marketing</h5>
                            <div class="read-more-btn">
                                <span class="rbt-btn-link">15 Courses<i class="feather-arrow-right"></i></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Category Box Layout  -->

            <!-- Start Category Box Layout  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/category/paint-palette.png' %}" alt="Icons Images">
                        </div>
                        <div class="content">
                            <h5 class="title">Art & Humanities</h5>
                            <div class="read-more-btn">
                                <span class="rbt-btn-link">15 Courses<i class="feather-arrow-right"></i></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Category Box Layout  -->

            <!-- Start Category Box Layout  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/category/smartphone.png' %}" alt="Icons Images">
                        </div>
                        <div class="content">
                            <h5 class="title">Mobile Application</h5>
                            <div class="read-more-btn">
                                <span class="rbt-btn-link">15 Courses<i class="feather-arrow-right"></i></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Category Box Layout  -->

            <!-- Start Category Box Layout  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/category/infographic.png' %}" alt="Icons Images">
                        </div>
                        <div class="content">
                            <h5 class="title">Finance & Accounting</h5>
                            <div class="read-more-btn">
                                <span class="rbt-btn-link">15 Courses<i class="feather-arrow-right"></i></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Category Box Layout  -->
        </div>
    </div>
</div>

<!-- Start Course Area -->
<div class="rbt-course-area bg-color-extra2">
    <div class="container">
        <div class="row mb--60">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <span class="subtitle bg-secondary-opacity">Top Popular Course</span>
                    <h2 class="title">Histudy Course student <br /> can join with us.</h2>
                </div>
            </div>
        </div>
        <!-- Start Card Area -->
        <div class="row g-5">
            <!-- Start Single Course  -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="rbt-card variation-01 rbt-hover">
                    <div class="rbt-card-img">
                        <a href="course-details.html">
                            <img src="{% static 'assets/images/course/course-01.jpg' %}" alt="Card image">
                            <div class="rbt-badge-3 bg-white">
                                <span>-50%</span>
                                <span>Off</span>
                            </div>
                        </a>
                    </div>
                    <div class="rbt-card-body">

                        <div class="rbt-card-top">
                            <div class="rbt-review">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <span class="rating-count"> (15 Reviews)</span>
                            </div>
                            <div class="rbt-bookmark-btn">
                                <a class="rbt-round-btn" title="Bookmark" href="#"><i
                                        class="feather-bookmark"></i></a>
                            </div>
                        </div>

                        <h4 class="rbt-card-title"><a href="course-details.html">React Front To Back</a>
                        </h4>
                        <ul class="rbt-meta">
                            <li><i class="feather-book"></i>20 Lessons</li>
                            <li><i class="feather-users"></i>40 Students</li>
                        </ul>
                        <p class="rbt-card-text">React Js long fact that a reader will be distracted by
                            the readable.</p>
                        <div class="rbt-author-meta mb--20">
                            <div class="rbt-avater">
                                <a href="#">
                                    <img src="{% static 'assets/images/client/avater-01.png' %}" alt="Sophia Jaymes">
                                </a>
                            </div>
                            <div class="rbt-author-info">
                                By <a href="profile.html">Patrick</a> In <a href="#">Languages</a>
                            </div>
                        </div>

                        <div class="rbt-card-bottom">
                            <div class="rbt-price">
                                <span class="current-price">$60</span>
                                <span class="off-price">$120</span>
                            </div>
                            <a class="rbt-btn-link" href="course-details.html">Learn
                                More<i class="feather-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Course  -->

            <!-- Start Single Course  -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="rbt-card variation-01 rbt-hover">
                    <div class="rbt-card-img">
                        <a href="course-details.html">
                            <img src="{% static 'assets/images/course/course-02.jpg' %}" alt="Card image">
                            <div class="rbt-badge-3 bg-white">
                                <span>-40%</span>
                                <span>Off</span>
                            </div>
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <div class="rbt-card-top">
                            <div class="rbt-review">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <span class="rating-count"> (15 Reviews)</span>
                            </div>
                            <div class="rbt-bookmark-btn">
                                <a class="rbt-round-btn" title="Bookmark" href="#"><i
                                        class="feather-bookmark"></i></a>
                            </div>
                        </div>
                        <h4 class="rbt-card-title"><a href="course-details.html">PHP Beginner + Advanced</a>
                        </h4>
                        <ul class="rbt-meta">
                            <li><i class="feather-book"></i>12 Lessons</li>
                            <li><i class="feather-users"></i>50 Students</li>
                        </ul>
                        <p class="rbt-card-text">It is a long established fact that a reader will be distracted
                            by the readable.</p>
                        <div class="rbt-author-meta mb--20">
                            <div class="rbt-avater">
                                <a href="#">
                                    <img src="{% static 'assets/images/client/avatar-02.png' %}" alt="Sophia Jaymes">
                                </a>
                            </div>
                            <div class="rbt-author-info">
                                By <a href="profile.html">Angela</a> In <a href="#">Development</a>
                            </div>
                        </div>
                        <div class="rbt-card-bottom">
                            <div class="rbt-price">
                                <span class="current-price">$60</span>
                                <span class="off-price">$120</span>
                            </div>
                            <a class="rbt-btn-link left-icon" href="course-details.html"><i
                                    class="feather-shopping-cart"></i> Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Course  -->

            <!-- Start Single Course  -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="rbt-card variation-01 rbt-hover">
                    <div class="rbt-card-img">
                        <a href="course-details.html">
                            <img src="{% static 'assets/images/course/course-03.jpg' %}" alt="Card image">
                            <div class="rbt-badge-3 bg-white">
                                <span>-40%</span>
                                <span>Off</span>
                            </div>
                        </a>
                    </div>
                    <div class="rbt-card-body">
                        <div class="rbt-card-top">
                            <div class="rbt-review">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <span class="rating-count"> (5 Reviews)</span>
                            </div>
                            <div class="rbt-bookmark-btn">
                                <a class="rbt-round-btn" title="Bookmark" href="#"><i
                                        class="feather-bookmark"></i></a>
                            </div>
                        </div>
                        <h4 class="rbt-card-title"><a href="course-details.html">Angular Zero to Mastery</a>
                        </h4>
                        <ul class="rbt-meta">
                            <li><i class="feather-book"></i>8 Lessons</li>
                            <li><i class="feather-users"></i>30 Students</li>
                        </ul>
                        <p class="rbt-card-text">Angular Js long fact that a reader will be distracted by
                            the readable.</p>

                        <div class="rbt-author-meta mb--20">
                            <div class="rbt-avater">
                                <a href="#">
                                    <img src="{% static 'assets/images/client/avatar-03.png' %}" alt="Sophia Jaymes">
                                </a>
                            </div>
                            <div class="rbt-author-info">
                                By <a href="profile.html">Slaughter</a> In <a href="#">Languages</a>
                            </div>
                        </div>
                        <div class="rbt-card-bottom">
                            <div class="rbt-price">
                                <span class="current-price">$80</span>
                                <span class="off-price">$100</span>
                            </div>
                            <a class="rbt-btn-link" href="course-details.html">Learn
                                More<i class="feather-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Course  -->
        </div>
        <!-- End Card Area -->

        <div class="row">
            <div class="col-lg-12">
                <div class="load-more-btn mt--60 text-center">
                    <a class="rbt-btn btn-gradient btn-lg hover-icon-reverse" href="#">
                        <span class="icon-reverse-wrapper">
                            <span class="btn-text">Load More Course (40)</span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Course Area -->

<!-- Start Counterup Area  -->
<div class="rbt-counterup-area bg-color-extra2 default-callto-action-overlap">
    <div class="container">
        <div class="row mb--60">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <span class="subtitle bg-primary-opacity">Why Choose Us</span>
                    <h2 class="title">Creating A Community Of <br /> Life Long Learners.</h2>
                </div>
            </div>
        </div>
        <div class="row g-5 hanger-line">
            <!-- Start Single Counter  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="rbt-counterup rbt-hover-03 border-bottom-gradient">
                    <div class="top-circle-shape"></div>
                    <div class="inner">
                        <div class="rbt-round-icon">
                            <img src="{% static 'assets/images/icons/counter-01.png' %}" alt="Icons Images">
                        </div>
                        <div class="content">
                            <h3 class="counter"><span class="odometer" data-count="500">00</span>
                            </h3>
                            <span class="subtitle">Learners &amp; counting</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Counter  -->

            <!-- Start Single Counter  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--60 mt_md--30 mt_sm--30 mt_mobile--60">
                <div class="rbt-counterup rbt-hover-03 border-bottom-gradient">
                    <div class="top-circle-shape"></div>
                    <div class="inner">
                        <div class="rbt-round-icon">
                            <img src="{% static 'assets/images/icons/counter-02.png' %}" alt="Icons Images">
                        </div>
                        <div class="content">
                            <h3 class="counter"><span class="odometer" data-count="800">00</span>
                            </h3>
                            <span class="subtitle">Courses & Video</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Counter  -->

            <!-- Start Single Counter  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt_md--60 mt_sm--60">
                <div class="rbt-counterup rbt-hover-03 border-bottom-gradient">
                    <div class="top-circle-shape"></div>
                    <div class="inner">
                        <div class="rbt-round-icon">
                            <img src="{% static 'assets/images/icons/counter-03.png' %}" alt="Icons Images">
                        </div>
                        <div class="content">
                            <h3 class="counter"><span class="odometer" data-count="1000">00</span>
                            </h3>
                            <span class="subtitle">Certified Students</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Counter  -->

            <!-- Start Single Counter  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--60 mt_md--30 mt_sm--30 mt_mobile--60">
                <div class="rbt-counterup rbt-hover-03 border-bottom-gradient">
                    <div class="top-circle-shape"></div>
                    <div class="inner">
                        <div class="rbt-round-icon">
                            <img src="{% static 'assets/images/icons/counter-04.png' %}" alt="Icons Images">
                        </div>
                        <div class="content">
                            <h3 class="counter"><span class="odometer" data-count="100">00</span>
                            </h3>
                            <span class="subtitle">Registered Enrolls</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Counter  -->
        </div>
    </div>
</div>
<!-- End Counterup Area  -->

<!-- Start Testimonial Area   -->
<div class="rbt-testimonial-area bg-color-white rbt-section-gap overflow-hidden">
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center mb--10">
                        <span class="subtitle bg-primary-opacity">EDUCATION FOR EVERYONE</span>
                        <h2 class="title">People like histudy education. <br /> No joking - here’s the proof!
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-animation-wrapper no-overlay mt--50">
        <div class="scroll-animation scroll-right-left">

            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-odd">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/icons/facebook.png' %}" alt="Clint Images">
                        </div>
                        <div class="description">
                            <p class="subtitle-3">After the launch, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/testimonial/client-01.png' %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Martha Maldonado, <span>CEO</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->

            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-odd">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/icons/google.png' %}" alt="Clint Images">
                        </div>
                        <div class="description">
                            <p class="subtitle-3">Histudy education, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/testimonial/client-02.png' %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Michael D., <span>CEO</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->

            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-odd">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/icons/yelp.png' %}" alt="Clint Images">
                        </div>
                        <div class="description">
                            <p class="subtitle-3">Our educational, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/testimonial/client-03.png' %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Valerie J., <span>CEO</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->

            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-odd">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/icons/facebook.png' %}" alt="Clint Images">
                        </div>
                        <div class="description">
                            <p class="subtitle-3">People says about, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/testimonial/client-04.png' %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Hannah R., <span>CEO</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->
            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-odd">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/icons/bing.png' %}" alt="Clint Images">
                        </div>
                        <div class="description">
                            <p class="subtitle-3">Like this histudy, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/testimonial/client-05.png' %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Pearl B. Hill, <span>Marketing</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->

            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-odd">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/icons/facebook.png' %}" alt="Clint Images">
                        </div>
                        <div class="description">
                            <p class="subtitle-3">Educational template, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/testimonial/client-01.png' %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Mandy F. Wood, <span>SR Designer</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->

            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-odd">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/icons/hubs.png' %}" alt="Clint Images">
                        </div>
                        <div class="description">
                            <p class="subtitle-3">Online leaning, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/testimonial/client-07.png' %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Mildred W. Diaz, <span>Executive</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->

            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-odd">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/icons/bing.png' %}" alt="Clint Images">
                        </div>
                        <div class="description">
                            <p class="subtitle-3">Remote learning, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/testimonial/client-08.png' %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Christopher, <span>CEO</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->

            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-odd">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/icons/yelp.png' %}" alt="Clint Images">
                        </div>
                        <div class="description">
                            <p class="subtitle-3">University managemnet, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/testimonial/client-06.png' %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Fatima, <span>Child</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->
        </div>
    </div>

    <div class="scroll-animation-wrapper no-overlay mt--30">
        <div class="scroll-animation scroll-left-right">

            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-even">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/icons/facebook.png' %}" alt="Clint Images">
                        </div>
                        <div class="description">
                            <p class="subtitle-3">After the launch, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/testimonial/client-01.png' %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Martha Maldonado, <span>CEO</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->

            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-even">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/icons/google.png' %}" alt="Clint Images">
                        </div>
                        <div class="description">
                            <p class="subtitle-3">Histudy education, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/testimonial/client-02.png' %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Michael D., <span>CEO</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->

            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-even">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/icons/yelp.png' %}" alt="Clint Images">
                        </div>
                        <div class="description">
                            <p class="subtitle-3">Our educational, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/testimonial/client-03.png' %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Valerie J., <span>CEO</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->

            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-even">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/icons/bing.png' %}" alt="Clint Images">
                        </div>
                        <div class="description">
                            <p class="subtitle-3">People says about, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/testimonial/client-04.png' %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Hannah R., <span>CEO</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->
            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-even">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/icons/hubs.png' %}" alt="Clint Images">
                        </div>
                        <div class="description">
                            <p class="subtitle-3">Like this histudy, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/testimonial/client-05.png' %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Pearl B. Hill, <span>Marketing</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->

            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-even">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/icons/yelp.png' %}" alt="Clint Images">
                        </div>
                        <div class="description">
                            <p class="subtitle-3">Educational template, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/testimonial/client-01.png' %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Mandy F. Wood, <span>SR Designer</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->

            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-even">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/icons/bing.png' %}" alt="Clint Images">
                        </div>
                        <div class="description">
                            <p class="subtitle-3">Online leaning, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/testimonial/client-07.png' %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Mildred W. Diaz, <span>Executive</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->

            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-even">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/icons/facebook.png' %}" alt="Clint Images">
                        </div>
                        <div class="description">
                            <p class="subtitle-3">Remote learning, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/testimonial/client-08.png' %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Christopher, <span>CEO</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->

            <!-- Start Single Testimonial  -->
            <div class="single-column-20 bg-theme-gradient-even">
                <div class="rbt-testimonial-box style-2">
                    <div class="inner">
                        <div class="icons">
                            <img src="{% static 'assets/images/icons/yelp.png' %}" alt="Clint Images">
                        </div>
                        <div class="description">
                            <p class="subtitle-3">University managemnet, vulputate at sapien sit amet,
                                auctor iaculis lorem. In vel hend rerit nisi. Vestibulum eget risus velit.</p>
                            <div class="clint-info-wrapper">
                                <div class="thumb">
                                    <img src="{% static 'assets/images/testimonial/client-06.png' %}" alt="Clint Images">
                                </div>
                                <div class="client-info">
                                    <h5 class="title">Fatima, <span>Child</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Testimonial  -->
        </div>
    </div>
</div>
<!-- End Testimonial Area   -->
{% endblock content %}

{% block extra_script %}{% endblock extra_script %}